.suggestion-flair {
	--icon-size: var(--icon-s);
}

.mobile-option-setting-item-option-icon {
	--icon-size: var(--icon-l);
}

.cmdr-suggest-group-indicator {
	--icon-size: var(--icon-s);
}

.cmdr {
	transition: transform 400ms 0s;

	&.status-bar-item {
		margin: 0;
	}
}

.cmdr-removing {
	transform: translateX(100%);
	z-index: 0;
}

.cmdr-ribbon-removing {
	transform: scale(0%);
}

.cmdr-setting-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	h1 {
		font-weight: 900;
		margin-top: 6px;
		margin-bottom: 12px;
	}
}

.cmdr-base-component {
	padding: 0px 20px;
	margin-bottom: -18px;
}

.cmdr-menu-more-options {
	color: var(--text-muted);
	position: absolute;
	right: 6px;
	padding-top: 2px;
	transform: scale(0.9);
	transition: all 150ms ease;

	&:hover {
		color: var(--text-primary);
	}
}

.cmdr-mobile .cmdr-credits {
	place-content: center;
}

.cmdr-fill {
	border: 2px solid transparent;
	width: 100%;
}

.cmdr-icon {
	--icon-size: var(--icon-m);
	height: 20px;
	align-self: center;
}

.cmdr-setting-modal > .modal {
	height: 60vh;
	width: 80vw;
}

.cmdr-editable {
	cursor: default;
	display: inline-block;

	&:hover {
		background-color: var(--background-modifier-hover);
	}

	input {
		padding: 0;
		border: none;
		height: unset;
		background-color: transparent !important;
		border-bottom: 1px solid var(--interactive-accent);
		border-radius: 0;
	}
}

.cmdr-setting-content {
	height: calc(100% - 10rem);

	.setting-item:first {
		border-top: none;
	}
}

.cmdr-commands-empty {
	display: flex;
	place-items: center;
	flex-flow: column;
	margin: 2.5rem 0 1.25rem 0;

	place-content: center;

	svg {
		width: 100%;
	}

	h3 {
		margin: 8px 0px;
		font-weight: 900;
	}
}

.cmdr-command-viewer:not(:empty) {
	background-color: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	padding: 12px;
	border-radius: 12px;

	.setting-item:first-of-type {
		padding-top: 0;
	}

	.setting-item:last-of-type {
		padding-bottom: 0;
	}

	.cmdr-callout-warning {
		padding: var(--callout-title-padding);
		display: flex;
		gap: var(--size-4-1);
		font-size: var(--callout-title-size);
		color: rgb(var(--callout-color));
		line-height: var(--line-height-tight);
		font-weight: bold;
	}

	p.cmdr-warning-description {
		margin: 8px 0;
	}

	.cmdr-sortable-ghost {
		background-color: var(--background-secondary-alt);
	}

	.cmdr-sortable-drag {
		cursor: grabbing;
		box-shadow: 1px 1px 10px 7px rgba(90, 90, 90, 0.4);
	}
}

.cmdr-setting-collapser {
	.cmdr-setting-collapser-content {
		transition: all 0.3s ease-in-out;
		overflow: hidden;

		.setting-item {
			padding-top: 12px;
		}
	}

	&[aria-expanded="false"] {
		.cmdr-setting-collapser-content {
			max-height: 0 !important;
			transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
		}
	}

	.cmdr-setting-collapser-header {
		display: flex;
		cursor: pointer;

		span {
			font-weight: 600;
			margin-top: 0;
			align-self: end;
		}
	}
}

.cmdr-add-new-wrapper {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		margin: 0 24px;
	}
}

.cmdr-adder {
	opacity: 0;
	transition: opacity 120ms ease;

	&:hover {
		opacity: 1;
	}

	&.view-action {
		// place adder button to the left of commander-added buttons
		order: -1001;
	}
}

.cmdr-page-header {
	// place commander buttons to the left of view and Obsidian buttons
	order: -1000;
}

.cmdr-macro-builder {
	.modal {
		height: 80vh;
		width: 95vw;
		padding: 0px;
	}

	.modal-close-button {
		z-index: 99;
	}

	.modal-content {
		margin-top: 0px;
	}

	.cmdr-macro-icon {
		display: flex;
		justify-content: center;
	}

	.cmdr-macro-control {
		position: absolute;
		z-index: 5;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		right: 0;
		top: 0;
		padding: 1rem;
		margin: 0;
		border-radius: 0;
		min-width: unset;
		width: 3rem;
		background-color: var(--background-secondary);
	}

	.cmdr-macro-body {
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.cmdr-macro-editor {
		height: 100%;
		font-family: var(--font-monospace);
		padding: 12px;
		border-radius: 12px;
		background-color: var(--background-primary);
		overflow: auto;
		border: 1px solid var(--background-modifier-border);
	}

	.cm-editor {
		height: 100%;
	}

	.cm-gutters,
	.cm-activeLineGutter {
		background-color: transparent;
	}

	.cm-content {
		padding: 8px 12px;
	}

	.cm-line {
		padding: 0px;
	}

	.cm-scroller {
		overflow: auto;
	}

	.cmdr-macro-type-line {
		display: flex;
		position: relative;
		justify-content: space-between;
		height: fit-content;
		align-items: center;
		padding: 0;
		margin-bottom: 8px;

		.cmdr-macro-arrow {
			margin: 0 8px;
		}

		.cmdr-macro-output-type {
			margin-left: auto;
		}

		.cmdr-macro-right-arrow {
			margin-left: 12px;
		}
	}

	.cmdr-macro-types {
		display: flex;
		flex-wrap: wrap;
		column-gap: 12px;
		max-width: 85%;
	}

	.cmdr-hint-hotkeys {
		position: absolute;
		bottom: 12px;
		right: 12px;
		font-size: 12px;
		text-align: right;

		span {
			font-weight: bold;
		}
	}
}

.cmdr-macro-type-button {
	background-color: transparent;
	padding: 2px 5px;
	margin: 2px;
	min-width: unset;
	min-height: unset;
	height: fit-content;
	color: var(--text-muted);
	border: 1px solid var(--background-modifier-border);
	font-family: var(--font-monospace);
	font-size: var(--font-small);

	&.selected {
		color: var(--text-on-accent);
		background-color: var(--interactive-accent);
		border-color: var(--interactive-accent);
		font-weight: bold;
	}
}

.cmdr-triggers {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.cmdr-trigger-pill {
	position: relative;
	display: inline-flex;
	justify-content: flex-end;
	white-space: nowrap;

	input {
		padding: 4px 8px;
		min-width: 0;
		font-family: var(--font-monospace);
		min-height: unset;
		text-align: left;
		color: var(--text-accent);
	}

	input + .clickable-icon {
		margin-left: -24px;
		transform: translateX(-6px);
		opacity: 0;
		cursor: pointer;
		transition: opacity 200ms ease;
		align-self: center;
	}

	&:hover,
	&:focus-within {
		input + .clickable-icon {
			opacity: 1;
		}
	}
}

.cmdr-mobile .setting-item {
	padding: 20px 16px;
}

.cmdr-mobile-preview {
	border-top: 1px dashed var(--text-muted);
	margin-top: 20px;
	padding-top: 20px;
}

.cmdr-suggestion {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	max-width: 100%;
	overflow: hidden;
	height: 1.6rem;
	border-radius: 4px;
	position: relative;

	span.cmdr-icon {
		margin-right: 6px;
		display: flex;
		align-items: center;
	}

	.cmdr-hotkey {
		margin-left: auto;
		color: var(--text-faint);
		font-size: var(--font-smaller);
		padding-left: 25px;

		// Ensure hotkey doesn't break layout
		flex-shrink: 0;
	}

	&-name,
	&-alias {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-alias {
		color: var(--text-faint);
		font-size: var(--font-smaller);
		padding-left: 4px;

		&::before {
			content: "(";
			padding-right: 1px;
		}

		&::after {
			content: ")";
			padding-left: 1px;
		}
	}

	&.is-selected {
		background-color: var(--background-modifier-hover);
	}

	&-group {
		display: flex;
		align-items: center;
		padding: 0.05rem 0.5rem;
		max-width: 100%;
		overflow: hidden;
		height: 1.8rem;
		border-radius: 4px;
		position: relative;
		font-weight: 600;
		color: var(--text-accent);

		&::after {
			content: "";
			position: absolute;
			height: 1px;
			left: 27px;
			right: 0;
			bottom: 0;
			background: var(--background-modifier-border);
		}

		span.cmdr-icon {
			margin-right: 6px;
		}
	}
}

.suggestion-container {
	.cmdr-suggestion-container {
		max-height: 64vh;
		overflow-y: auto;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		overflow-x: hidden;
		gap: 0;
		padding: 0.3rem 0.4rem;

		background-color: var(--background-primary);
		color: var(--text-normal);
		border-radius: var(--radius-m);
		box-shadow: var(--shadow-m);
		border: 1px solid var(--background-modifier-border);
	}

	.suggestion-item {
		padding: 0;
		width: 100%;
		margin-right: 0.5rem;
		// height: 1.8rem;
		&.is-selected {
			background-color: var(--background-modifier-hover);
			border-radius: var(--radius-s);
		}
	}

	.suggestion-empty {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		color: var(--text-faint);
		flex-direction: column;
		min-height: 80px;
		user-select: none;
	}
}

.cmdr-choose-icon-modal {
	max-width: 98vw;

	.cmdr-icon-browser {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 12px;
	}

	.cmdr-icon-search-input {
		width: 100%;
	}

	.cmdr-icon-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
		gap: 8px;
		max-height: 65vh;
		padding: 8px;
		overflow-y: auto;
		border: 1px solid var(--background-modifier-border);
		border-radius: 8px;
	}

	.cmdr-icon-entry {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px;
		border-radius: 4px;
		cursor: pointer;
		color: var(--text-normal);
		transition: all 100ms ease;

		&:hover {
			background-color: var(--background-modifier-hover);
			color: var(--text-accent);
			transform: scale(1.08);
		}

		&.selected {
			background-color: var(--interactive-accent);
			color: var(--text-on-accent);
		}
	}

	.cmdr-icon-entry svg {
		height: 20px;
		width: 20px;
	}

	.cmdr-icon-search-results {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: var(--font-smaller);
		color: var(--text-muted);
	}
}
