{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020
	},
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"prettier/prettier": "warn",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-non-null-assertion": "off"
	}
}
