name: Release Obsidian Plugin

on:
  push:
    tags:
    - '*'

env:
  PLUGIN_NAME: slash-commander

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'

    - name: Enable Corepack for Yarn
      run: |
        corepack enable
        yarn set version 4.7.0

    - name: Install dependencies
      run: yarn install

    - name: Check
      run: yarn build:check

    - name: Build
      id: build
      run: |
        yarn build
        mkdir ${{ env.PLUGIN_NAME }}
        cp main.js manifest.json styles.css README.md ${{ env.PLUGIN_NAME }}
        zip -r ${{ github.event.repository.name }}-${{ github.ref_name }}.zip ${{ env.PLUGIN_NAME }}
        echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        prerelease: false
        files: |
          ${{ github.event.repository.name }}-${{ github.ref_name }}.zip
          main.js
          manifest.json
          styles.css
        token: ${{ secrets.GITHUB_TOKEN }}
